.center {
  background-image: url("/assets/pradeep.jpg");
  background-repeat: no-repeat;
  margin: 0;
  @include media-breakpoint-up(lg) {
    align-items: center;
    height: 100vh;
  }
  @include media-breakpoint-down(xl) {
    background-size: 320px;
  }
  @include media-breakpoint-down(lg) {
    background-size: 100%;
    background-attachment: fixed;
    padding-top: 80vh;
    .col-lg-8 {
      padding-top: 20px;
      min-height: 100vh;
      background-color: rgba(255, 255, 255, 0.8);
    }
  }
  p {
    font-size: 22px;
  }
  p + h4 {
    margin-top: 30px;
  }
  .social_links {
    margin-bottom: 20px;
    li {
      display: inline-block;
      margin-right: 10px;
      margin-bottom: 5px;
      @include media-breakpoint-down(md) {
        display: block;
      }
      i {
        vertical-align: middle;
      }
    }
  }
}
