<div class="container my_projects">
  <h2>My Projects</h2>
  <div class="btn-group mb-4" role="group" aria-label="Second group">
    <button
      type="button"
      class="btn btn-secondary"
      [ngClass]="{ 'active' : term === ''}"
      (click)="showProject('')"
      >
      All
    </button>
    <button
    type="button"
    class="btn btn-secondary"
    [ngClass]="{ 'active' : term === 'satc'}"
    (click)="showProject('satc')"
    >
    SATC
  </button>
  <button
  type="button"
  class="btn btn-secondary"
  [ngClass]="{ 'active' : term === 'eci'}"
  (click)="showProject('eci')"
  >
  ECI
</button>
<button
type="button"
class="btn btn-secondary"
[ngClass]="{ 'active' : term === 'excel'}"
      (click)="showProject('excel')"
    >
      Excel
    </button>
  </div>
  <ul>
    <li *ngFor="let project of projects | projectFilter: term; let i=index">
      <aside>
        <section>
          <img [src]="project.imgURL" />
        </section>
        <div class="table_t">
          <div class="cell_row">
            <div class="cell_t">
              {{ project.name }}<br /><a
                target="_blank"
                title="visit site"
                [href]="project.link"
                ><i class="bi bi-globe"></i
              ></a>
              <button class="btn_none" (click)="openModal(modalData)">
                <i class="bi bi-info-circle"></i>
              </button>
            </div>
          </div>
        </div>
      </aside>
<ng-template #modalData>
  <div class="modal-header">
    <h4 class="modal-title pull-left">{{ project.name }}</h4>
    <button type="button" class="btn_none pull-right" aria-label="Close" (click)="modalRef.hide()">
    <i class="close_icon">X</i>
    </button>
  </div>
  <div class="modal-body">
<div class="txt_area">
<h4>Description</h4>
<p>{{ project.description }}</p>
<h4>Site Type</h4>
<p>{{ project.layout }}</p>
<h4>Company Name</h4>
<p class="txt-uppercase">{{ project.company }}</p>
<h4>Roles &amp; Responsibilities</h4>
<ul>
  <li *ngFor="let role of project.roles"><i class="bi bi-arrow-right-square-fill"></i> {{role.name}}</li>
</ul>
<h4>Technologies</h4>
<i *ngFor="let tech of project.technologies" class="{{tech.icon}}">{{tech.name}}</i>
<h5>Site URL</h5>
<a target="_blank" [href]="project.link">{{project.link}}</a>
</div>
</div>
</ng-template>
    </li>
  </ul>
</div>
