<div class="container my_skills">
  <h2>My Skills</h2>
  <ul>
    <li>
      <div class="angular">
        <div class="img_area">
          <img src="http://pkanvi.com/images/angular2.svg" alt="Angular" />
        </div>
        <div class="txt_area">
          <span>Angular</span>
          <span>4+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="html">
        <div class="img_area">
          <img src="http://pkanvi.com/images/html5.svg" alt="HTML5" />
        </div>
        <div class="txt_area">
          <span>HTML5</span>
          <span>8+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="css">
        <div class="img_area">
          <img src="http://pkanvi.com/images/css3.svg" alt="CSS3" />
        </div>
        <div class="txt_area">
          <span>CSS3</span>
          <span>8+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="bootstrap">
        <div class="img_area">
          <img src="http://pkanvi.com/images/bootstrap.svg" alt="Bootstrap" />
        </div>
        <div class="txt_area">
          <span>Bootstrap</span>
          <span>6+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="less">
        <div class="img_area">
          <img src="http://pkanvi.com/images/less.svg" alt="Less" />
        </div>
        <div class="txt_area">
          <span>Less</span>
          <span>3+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="sass">
        <div class="img_area">
          <img src="http://pkanvi.com/images/sass.svg" alt="Sass" />
        </div>
        <div class="txt_area">
          <span>SASS/SCSS</span>
          <span>5+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="js">
        <div class="img_area">
          <img src="http://pkanvi.com/images/javascript.svg" alt="Javascript" />
        </div>
        <div class="txt_area">
          <span>Javascript</span>
          <span>6+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="jquery">
        <div class="img_area">
          <img src="http://pkanvi.com/images/jquery.svg" alt="jQuery" />
        </div>
        <div class="txt_area">
          <span>jQuery</span>
          <span>5+</span>
        </div>
      </div>
    </li>
    <li>
      <div class="wordpress">
        <div class="img_area">
          <img src="http://pkanvi.com/images/wordpress.svg" alt="Wordpress" />
        </div>
        <div class="txt_area">
          <span>Wordpress</span>
          <span>5+</span>
        </div>
      </div>
    </li>
  </ul>
</div>
